:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--very-dark-gray);
  height: fit-content;
  width: fit-content;
}

header {
  display: flex;
  position: absolute;
  z-index: 100;
  margin: 2rem 5rem;
  align-items: center;
}

.icon-hamburger {
  display: none;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

li {
  margin: 0 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.container {
  display: grid;
  position: relative;
  z-index: 90;
  max-width: 100%;
  grid-template-columns: 4fr 3fr;
}

.first-image .desktop {
  display: block;
  width: 100%;
}

.first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding: 2rem 3rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.first-content-text {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.first-image .mobile {
  display: none;
  width: 100%;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.block-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
}

.carousel-menu-desktop {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  background-color: var(--black);
  padding: 1.5rem 2.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel-menu-mobile {
  display: none;
}

.icon {
  width: 2rem;
  height: 3rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.about-text h3,
.btn {
  font-size: 1.4rem;
  letter-spacing: 0.8rem;
}

p {
  color: var(--dark-gray);
  line-height: 1.8rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .first-image .desktop {
    display: none;
  }

  .first-image .mobile {
    display: block;
    width: 100%;
    position: relative;
  }

  nav .carousel-menu-desktop {
    display: none;
  }

  nav ul {
    display: none;
  }

  .icon-hamburger {
    display: block;
    justify-self: start;
  }

  .carousel-menu-mobile {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    background-color: var(--black);
    padding: 2rem;
    position: absolute;
    right: 0;
    margin-top: -6.4rem;
  }

  .carousel-menu-desktop {
    display: none;
  }

  .about {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 2rem 5rem;
    box-sizing: border-box;
  }

  h1 {
    width: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .about img {
    width: 100%;
    height: auto;
  }

  .about-text {
    align-items: start;
    text-align: start;
    padding: 2rem 3rem;
  }

  .first-content {
    justify-content: start;
    align-items: start;
    text-align: left;
    padding: 2rem 3rem;
    box-sizing: border-box;
  }

  .first-content-text {
    margin: 0;
    width: 100%;
  }
}
